<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>
<div id = "servicesMenu">
    <h2>Menu of Available Services</h2>

    <h3>Facial Treatments</h3>
    <p>The facial treatments below are recommended</p>
    <p>by our estheticians for your given skin type.</p>

    <th:block th:each="facial:${appropriateFacials}">
        <li th:text="${facial}"></li>
    </th:block>

    <div th:if="${manipedi == 'manicure'}">
        <h3>Manicure</h3>
        <p th:replace="fragments :: manicureDescription"></p>
    </div>

    <div th:if="${manipedi == 'pedicure'}">
        <h3>Pedicure</h3>
        <p th:replace="fragments :: pedicureDescription"></p>
    </div>

    <div th:if="${manipedi == 'ManicureAndPedicure'}">
        <h3>Manicure</h3>
        <p th:replace="fragments :: manicureDescription"></p>
        <h3>Pedicure</h3>
        <p th:replace="fragments :: pedicureDescription"></p>
    </div>
</div>
<!--<div style="width: 50px; height: 50px; float: left; background-color: #336699">-->
<!--<div style="width: 50px; height: 50px; float: left; background-color: #ff7e00">-->
<!--<div style="width: 50px; height: 50px; float: left; background-color: #660066">-->
<!--<div style="width: 50px; height: 50px; float: left; background-color: #ff91af">-->
<!--<div style="width: 50px; height: 50px; background-color: #f05e23">-->
<!--<div style="width: 50px; height: 50px; background-color: #557700">-->
<!--<div style="width: 50px; height: 50px; background-color: #f79862">-->
<!--<div style="width: 50px; height: 50px; background-color: #556655">-->
<!--<div style="width: 50px; height: 50px; background-color: #ffee11">-->
<!--<div style="width: 50px; height: 50px; background-color: #cc1111"></div>-->
<!--</div></div></div></div></div></div></div></div></div>-->
</body>

</html>